---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title"><h1 class="text-6xl instrument-serif-italic">About</h1></Fragment> 
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Microjournal was created to solve a personal problem.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Micro journaling helped me bring more awareness to my everyday life. 
        By briefly reflecting on my days—what went well, what didn’t,
        and what I could improve—I started to see patterns, appreciate small wins, 
        and take steps toward a better version of myself. This simple habit made a big difference, 
        and I created Microjournal to help others experience the same clarity and growth.
      </p>
    </div>
   
  </Container>
</Layout>
