---
import Link from "./ui/link.astro";
import appStoreButton from "assets/app_store.png";
import googlePlayButton from "assets/google_play.png";
import { Picture } from "astro:assets";
---

<div class="mt-6 flex justify-center sm:flex-row gap-1 my-4">
  <Link
    href="#"
    target="_blank"
    class="flex gap-1 items-center justify-center"
    rel="noopener">
    <Picture src={appStoreButton} alt="Download" />
  </Link>
  <Link
    rel="noopener"
    href="#"
    class="flex gap-1 items-center justify-center"
    target="_blank">
    <Picture src={googlePlayButton} alt="Download" />
  </Link>
</div>