---
// @ts-ignore
import { Picture } from "astro:assets";
import moodImage from "assets/mood.png";
import entryImage from "assets/App/entry.png";
const features = [
  {
    title: "Track your mood",
    description:
      "Track your mood and let it reflect in your journal.",
    image: moodImage,
  },
  {
    title: "Remember the details",
    description:
      "With a set of predefined prompts, you can remember the details of your day.",
    image: entryImage,
  },
  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl instrument-serif-italic lg:tracking-tight">
   Features
  </h2>

</div>

<div class="grid sm:grid-cols-1 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start bg-element-bg rounded-xl p-4">
        <div class="mt-1 max-h-[300px] overflow-hidden">
          <Picture src={item.image} alt={item.title} />
        </div>
        <div>
          <h3 class="text-3xl instrument-serif-italic">{item.title}</h3>
          <p class="mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
