---
import { Picture } from "astro:assets";
import heroImage from "assets/mj_hero.png";
import Cta from "@components/cta.astro";
---

<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl lg:tracking-tight xl:tracking-tighter">
      <span class="instrument-serif-italic">Welcome to</span> Microjournal
    </h1>
    <p class="mt-4 text-white max-w-xl">
      A minimalistic and easily navigable journal
that helps you track your mental health. 
    </p>
    <Cta />
  </div>
  <div class="py-0 pt-12 px-4 md:order-1 custom-gradient rounded-xl w-full flex justify-center items-center">
   <div class="max-w-[400px]">
    <Picture
    src={heroImage}
    alt="Hand holding a phone with the Microjournal app"
    widths={[200, 400, 600]}
    sizes="(max-width: 800px) 620px, 620px"
    class="w-full h-full object-contain mx-auto"
    loading="eager"
    format="png"
  />
   </div>
  </div>
  
</main>
